@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="memberid" name="" underline="true"/>
                            <#input id="integral" name="获得积分值"/>
                </div>

                <div class="col-sm-6">
                            <#input id="integraltype" name="积分类型(1.推荐新人,2.消费,3.兑换)" underline="true"/>
                            <#input id="createdt" name="" underline="true"/>
                            <#input id="updatedt" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="NewmemberintegralInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="NewmemberintegralInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/main/newmemberintegral/newmemberintegral_info.js"></script>
@}
