<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.NewmemberintegralMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Newmemberintegral">
        <id column="id" property="id" />
        <result column="memberid" property="memberid" />
        <result column="integral" property="integral" />
        <result column="integraltype" property="integraltype" />
        <result column="createdt" property="createdt" />
        <result column="updatedt" property="updatedt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, memberid, integral, integraltype, createdt, updatedt
    </sql>

</mapper>
